.Container {
  display: flex;
  flex-direction: row;
  height: max-content;
  /* position: relative; */
  min-height: 100vh;
}

.container-prod {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex: 1;
  position: relative;
}

.transactions {
  padding-top: 60px;
}

.filter {
  display: flex;
  flex-direction: row;
  margin-right: 45px;
  justify-content: flex-end;
  margin-top: 20px;
}

.filter select {
  margin-right: 10px;
  height: 38px;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.center {
  padding-left: 40px;
}

.pagination {
  margin: auto;
}

.pname:hover {
  text-decoration: underline;
}
