.Container {
  display: flex;
  flex-direction: row;
  height: max-content;
  /* position: relative; */
  min-height: 100vh;
}

.container-prod {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex: 1;
  position: relative;
}

.transactions {
  padding-top: 60px;
}

.filter {
  display: flex;
  flex-direction: row;
  right: 63px;
  top: 80px;
  position: absolute;
  margin-top: 20px;
}

.filter select {
  margin-right: 10px;
  height: 25px;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.center {
  padding-left: 40px;
}
