.Container {
  display: flex;
  flex-direction: row;
  height: max-content;
  /* position: relative; */
  min-height: 100vh;
}

.container-prod {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex: 1;
}

.transactions {
  padding-top: 60px;
}

.filter {
  display: flex;
  flex-direction: row;
  right: 10px;
}

.filter select {
  margin-right: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
