@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap");

.user-cred {
  height: max-content;
  flex: 1;
  margin: 24px;
  min-height: auto;
  min-width: auto;
  display: flex;
  border: 1px solid #a0a1a2;
  border-radius: 10px;
  flex-direction: row;
}

.user-pic {
  height: 213.675px;
  width: 325.733px;

  border-radius: 5px;
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.pic-box {
  height: 110px;

  width: 107px;

  margin: auto;
  margin-top: 24px;
  border-radius: 8px;
}

.user-name {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  font-size: 20px;
}

.role {
  height: 21.8px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  background-color: #ebeef0;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.pic {
  height: 110px;
  width: 110px;
  border-radius: 8px;
}

.details {
  height: 28.6px;
  border-bottom: 1px solid #a0a1a2;
  margin: 24px 0px 10px 10px;
}

.info p {
  margin: 10px 20px;
}

.info {
  height: 296.217px;
  width: 325.733px;
  margin: 0px 24px 24px 24px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.orders {
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.order-head {
  font-size: 50px;

  border-bottom: 1px solid #a0a1a2;
  margin-bottom: 10px;
  font-family: "Nunito Sans", -apple-system;
  min-width: 700px;
}

.order-table {
  min-width: 800px;
}

.order-table table {
  margin: 0;
  width: 100%;
}

.Container {
  display: flex;
  flex-direction: row;
  height: max-content;
  /* position: relative; */
  min-height: 100vh;
}

.container-prod {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex: 1;
}
