.Container {
  display: flex;
  flex-direction: row;
  height: max-content;
  /* position: relative; */
  min-height: 100vh;
}

.container-prod {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex: 1;
}
.no-prod {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #acacac;
  font-size: 22px;
}

img {
  width: 150px;
  margin: auto;
}