.Container {
  display: flex;
  flex-direction: row;
  height: max-content;
  /* position: relative; */
  min-height: 100vh;
}

.products {
  padding-top: 10px;
}

.prod-name {
  display: flex;
  flex-direction: row;
}

.p-img {
  border: 1px solid green;
  height: 150px;
  width: 206px;
  margin: 12px;
}

.p-text {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.p-text p {
  display: inline-block;
}
.p-btn {
  display: flex;
  flex-direction: row;
  margin: auto;
  outline: none;
}

.p-btn button {
  height: 30px;
  width: 80px;
  border-radius: 2px;
}

.p-btn1 {
  margin: 12px;
  border-color: 1px green;
  color: rgb(57, 175, 57);
}
.p-btn1:hover {
  background-color: rgb(57, 175, 57);
  color: white;
}

.container-prod {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex: 1;
}

.prod-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.prod-img {
  height: 36px;
  width: 36px;
  mix-blend-mode: multiply;
  border-radius: 4px;
}

.image {
  background-color: #ebeef0;
  border-radius: 4px;
  height: 36px;
  width: 36px;
  align-items: center;
}

.loader {
  margin: auto;
  object-fit: cover;
  height: 10px;
}
